{% extends 'base.html' %}

{% block title %}Добавить новость{% endblock %}

{% block content %}

    <h2 class="header_text">Create news</h2>

    <div class="news_container">
        <form method="post">
            {% csrf_token %}
            <div class="news_container">
                {{ form.news_title }}<br>
            </div>
            <div class="news_container">
                {{ form.news_text }}<br>
            </div>
            <div class="news_container">
                {{ form.tag }}<br>
            </div>
            <div class="news_container">
                {{ form.author }}<br>
            </div>
            <span>{{ error }}</span>
            <div class="news_container">
                <button type="submit">Добавить</button>
            </div>
        </form>
    </div>

{% endblock %}





{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1>New post</h1>#}
{#    <form action="" method="post">{% csrf_token %}#}
{#      {{ form.as_p }}#}
{#        <div>#}
{#        <input placeholder="Title">#}
{#        </div>#}
{#        <div>#}
{#        <input placeholder="Text">#}
{#        </div>#}
{#        <div>#}
{#        <input placeholder="Tag">#}
{#        </div>#}
{#      <input type="submit" value="Save" />#}
{#    </form>#}
{##}
{#{% endblock content %}#}}


{#            <input type="text" placeholder="Title"><br>#}
{#            <textarea class="form-control" placeholder="Text"></textarea><br>#}
{#            <input type="text" placeholder="Tag"><br>#}