{% extends 'base.html' %}

{% block title %}{{ news.news_title }}{% endblock %}

{% block content %}

    <div class="news_container">
        <h2>{{ news.news_title }}</h2>
        <small>Date: {{ news.pub_date }}</small><br>
        <p>Author: {{ news.author }}</p>
        <pre class="news_text">{{ news.news_text }}</pre>
        <p class="tags">Tags:
            {% for tag in news.tags.all %}
                <a href="{% url 'NewsApp:tag_list' tag %}">{{ tag }}</a>
            {% endfor %}
        </p>
        <p>{{ news.views_count }}&#128065</p>
    </div>

{% endblock %}

