{% extends 'base.html' %}

{% block title %}Все новости{% endblock %}

{% block content %}

    <div class="table_container">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">News</th>
                <th scope="col">Views</th>
            </tr>
            </thead>
            <tbody>

            {% if all_news_list %}
                {% for item in all_news_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'NewsApp:detail' item.id %}">{{ item.news_title }}</a></th>
                        <td><s></s>{{ item.views_count }}&#128065;</td>
                    </div>
                    </tr>
                {% endfor %}
            {% else %}
                Статьи не найдены
            {% endif %}
    </tbody>
    </table>
    </div>
{% endblock %}

